
@media (max-width: 599px) {

  .subscribe-button {

    font-size: 16px !important;

  }


  .filter-padding-left25{
    padding-left: 20px !important;

  }

  //.space-small-screen{
  // min-height: 50px !important;
  //
  //}

  .smallscreenMargin{

    margin-top: 4em !important;
  }

  .subscribe-textbox{


    font-size: 16px !important;
    font-family: $lato;

  }

  md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon{
    font-size: 16px;
  }



  .comment-div{


    h4{

      font-size: 14px;

    }
    p{


      font-size: 12px;

    }

  }

  .comment-user-img{

    height: 60px !important;
    width: 100% !important;
  }
}
