<header id="top" class="header navbar-fixed-top">
  <div class="container">
    <h1 class="logo pull-left">
      <a class="scrollto" [routerLink]=" ['/'] ">
        <span style="top:2px" class="glyphicon glyphicon-home" aria-hidden="true"></span>
        <span class="logo-title">Angular 2 sample</span>
      </a>
    </h1>
    <!--//logo-->
    <nav id="main-nav" class="main-nav navbar-right" role="navigation">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--//nav-toggle-->
      </div>
      <!--//navbar-header-->
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item "><a class="scrollto" [routerLink]=" ['/'] ">Client Login</a></li>
          <li class="nav-item active"><a class="scrollto" [routerLink]=" ['./dashboard/admin/']">Admin Login</a></li>
          <li class="nav-item last"><a class="scrollto" [routerLink]=" ['/'] ">Contact Us</a></li>
        </ul>
        <!--//nav-->
      </div>
      <!--//navabr-collapse-->
    </nav>
    <!--//main-nav-->
  </div>
</header>

<section id="promo" class="promo section offset-header has-pattern">
        <div class="container">
            <div class="row">
                <div class="overview col-md-7 col-sm-12 col-xs-12">
                    <h2 class="title animated fadeInUp delayp1" style="opacity: 0;">
                        Angular 2 Sample Project
                    </h2>

                  

                    <div class="download-area">
                        <ul class="btn-group list-inline">
                            <li class="btn client-login"><a  [routerLink]=" ['/login'] ">Admin Login</a></li>
                            <!--<li class="btn signup"><a  [routerLink]=" ['/'] ">Sign up</a></li>-->
                        </ul>
                    </div>
                </div><!--//overview-->

                <!--// iPhone starts -->
                <div class="phone iphone iphone-black col-md-5 col-sm-12 col-xs-12 ">
                    <div class="iphone-holder phone-holder animated fadeInRight delayp4" style="opacity: 0;">
                        <div class="iphone-holder-inner">

                           <img src="../assets/img/screen-content-iphone-6.png"/>

                        </div><!--//iphone-holder-inner-->
                    </div><!--//iphone-holder-->
                </div><!--//iphone-->
                <!--// iPhone ends -->
            </div><!--//row-->
        </div><!--//container-->
    </section>






<section class="managers-love-it">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-md-offset-4">
          <h2>Angular 2 sample! </h2>
          <h4> Simple UI and Easy to use! </h4>
          <h5> - CEO Ameer Haider </h5>
      </div>
    </div>
  </div>
</section>




<section class="fantastic-features">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Main Features</h2>
        <p class="first">Angular 2 Bootstrap Calendar </p>

      </div>
      

    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="site-footer col-md-3">
        <h5>Novatore © 2016</h5>
      </div>
      <div class="col-md-3 col-md-offset-6">
        <ul class="social-icons list-inline">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
